<form method="POST" action="http://127.0.0.1:3000">
<div class="clsSelection">
				&nbsp;
				<select class="selectPicker" name="selEmilyBlincoe" id="Test">
					<option value=""></option>
					<option value="BathroomStuff">BathroomStuff</option>
					<option value="Cereal">Cereal</option>
					<option value="Cones">Cones</option>
					<option value="ConesAndGrass">ConesAndGrass</option>
					<option value="Leafs">Leafs</option>
				</select>
				<br><br>
				<button type="submit" value="submit">Submit</button>
</div>
</form>
